---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSlider from '../components/HeroSlider.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';

const sliderImages = [
    {
        src: '/src/assets/img_prov_1.webp',
        alt: 'Familia feliz representando un futuro sin deudas'
    },
    {
        src: '/src/assets/img_prov_2.avif',
        alt: 'Auto nuevo representando las posibilidades después de resolver deudas'
    },
    {
        src: '/src/assets/img_prov_3.avif',
        alt: 'Casa moderna representando la estabilidad financiera'
    }
];
---

<Layout>
    <Header />
        <section id="inicio">
        <HeroSlider images={sliderImages} />
                                        <WhatsAppButton />

    </section>



    <Footer />
</Layout>



