---
---
<header>
    <div class="nav-container">
        <div class="header-top">
            <div class="logo-contact">
                <img src="/1000030683.webp" alt="Stop CAE logo featuring bold red and black text with a stylized legal scale symbol, conveying professionalism and determination; the logo is set against a clean white background, evoking trust and support for students facing debt" class="logo">
                <div class="contact-info">
                    <i class="fas fa-phone"></i> +56 9 5409 9974
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <p class="slogan">Transformamos tu deuda estudiantil en el impulso para tus próximos proyectos</p>
            <nav>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#quienes-somos">Quienes Somos</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#preguntas">Preguntas Frecuentes</a></li>
                    <li><a href="#trabaja">Trabaja con Nosotros</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
